name: Publish to NuGet

on:
  push:
    tags:
      - 'v*.*.*'  # 监听以 v 开头的标签推送
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x
            9.x
            10.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Extract version
        shell: bash
        run: echo "VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV

      - name: Build the project
        run: dotnet build --configuration Release --no-restore -p:Version=${{ env.VERSION }}

      - name: Pack the project
        run: dotnet pack --configuration Release --no-build --output ./nupkg -p:Version=${{ env.VERSION }}

      - name: Push to NuGet
        run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./nupkg/*.nupkg
            ./nupkg/*.snupkg
          generate_release_notes: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}